<!--ico/ifdjrkP+nubcFofiNwNKV7EqvItvL7KrkVmiHWs+sr8ytJbgEoARNk5hfYbGRUuSWSiZeVuVFQXUqqP4XUhLrAh6F3BN/CIU8xWNodyHzrJLmuMhrE0pL0AIdO4Om87NtO2Dmi9ayy255MX84aN2204jQoNaW4Aw3LymAAQEznKUx3SRA8g5c7Ga2WGMXvDr1xN/stXKXtkgAlGIndnndO3S47jnMe7itySHjtCZdELycDZJ6G1Cu2mBXWzBPvWOVou2oiAJF1vdgR9/29Ljhl/fVGBesNtV2nbphhg81xOItfXk2m3yKwj0urTVzb/w7kQMbZXFJ1B9IiK3nQ==--><!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
	<meta http-equiv="Cache-Control" content="no-cache"/>
	<title>WPS一键美化更改版式</title>
	<link rel="stylesheet" type="text/css" href="../styles/layout.css" media="all" />
</head>
<body ms-controller="LayoutCtrl" class="ms-controller hasTextSplitTab" ms-attr-class="ratioClsName">
<!-- Tab开始 -->
<div class="tabpages">
	<div class="tab-title-ctn">
		<a class="tab-title" ms-repeat-el="tabTitles" ms-visible="el.visible" ms-class-1="icon-{{el.icon}}" ms-class-2="active: $index == tabSelectedIndex" ms-click="selectTab($index)">{{el.text}}</a>
		<a class="refresh-btn refresh-btn-disabled icon-refresh icon-refresh-disabled" ms-visible="tabSelectedIndex == 0">刷新</a>
		<div class="bottom-line"></div>
	</div>

	<div class="tab-content">
		<div class="tab-panel" ms-visible="tabSelectedIndex == 0" ms-controller="OnlineCtrl">
			<div class="content-part">
				<div class="view status-view" ms-visible="isLoading" ms-css-top="viewTop">
					<img class="icon" src="../styles/images/icon-loading-96.gif" />
					<div class="message">正在加载…</div>
				</div>
				<div class="view status-view" ms-visible="isNetworkError" ms-css-top="viewTop">
					<img class="icon" src="../styles/images/icon-network-error-96.png" />
					<div class="message">无法连接服务器，请检查您的网络</div>
				</div>
			</div>
		</div>

		<div class="tab-panel" ms-visible="tabSelectedIndex == 1" ms-controller="LocalCtrl">

			<div class="content-part">
				<div class="view status-view" ms-visible="isNoContent" ms-css-top="viewTop">
					<img class="icon" src="../styles/images/icon-no-content-96.png" />
					<div class="message">未检索到匹配的项，点击“<a ms-click="selectTab(0)">推荐排版</a>”试试吧~</div>
				</div>
				<div class="view" ms-visible="isLoaded">
					<!-- ImageGroupView组件开始 -->
					<div class="image-group-view" id="local_group_view">
						<div class="scroll-area">
							<div class="x-group" ms-repeat-el="items">
								<div class="group-title" ms-if="el.displayName.length > 0">{{el.displayName}}</div>
								<div class="group-line" ms-if="el.displayName.length == 0"></div>
								<div class="group-content">
									<div class="item" ms-repeat-elem="el.items">
										<a href="javascript:void(0)"
												ms-class-1="selected: elem.bSelect"
												ms-click="applyLayout($outer.$index, $index, 'thumb')">
											<div class="border"></div>
											<img ms-src="elem.bPresetLayout ? elem.thumbData : ('data:image/png;base64,' + elem.thumbData)" />
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ImageGroupView组件结束 -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Tab结束 -->

</body>
<script type="text/javascript" src="../../../common/libraries/avalon/avalon.min.js"></script>
<script type="text/javascript" src="../../../common/libraries/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../../common/libraries/lodash/lodash.min.js"></script>
<script type="text/javascript" src="../scripts/layout.js"></script>
</html>
